
    <div class="row">
    <div class="col"></div>
    <div class="col-md-8 align-center">
        <div class="row align-items-center" style="padding: 3%; margin-top: 5%;">
            <div class="col-md-3" >
                <img width="130" height="130" src="../../../assets/img2.jpg" alt="" style="border-radius: 100%;">
            </div>
            <div class="col-md-9">
                <div>
                    <h4>Anibal Vergaray</h4> 
                    <tr>Sigues a 2 personas</tr>
                    <tr>1 persona te sigue</tr>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 3%;">
            <div class="card">
                <div class="card-header">
                  <div class="form-inline">
                    <img width="35" height="35" src="../../../assets/img2.jpg" alt="" style="border-radius: 100%;">
                    <b style="margin-left: 15px;"><h5>Anibal Vergaray</h5></b>
                  </div>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <hr>
                    <div class="form-inline">
                      <button type="button" class="btn btn-light"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                      <div style="margin-left: 15px;">A 10 personas les gusta esto</div>
                    </div>
                    <hr>
                    <label for="">Ver los 5 comentarios</label> 
                    <div class="form-inline">
                      <input type="text" class="form-control" placeholder="Escribe un comentario..." aria-label="comentario" aria-describedby="basic-addon1" style="width: 90%;">
                      <button type="button" class="btn btn-primary">Enviar</button>
                    </div>
                  </blockquote>
                </div>
              </div>
        </div>
    </div>
    <div class="col"></div>
    </div>
