<div class="limiter">
    <div class="row ">
        <div class="d-none d-sm-none d-md-block col-md-8">
                <img src="../../../assets/img1.jpg" style="width: 100%; height: 100%;">
                <!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img src="../../../assets/img1.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="../../../assets/img.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </a>
                  </div> -->
        </div>
        <div class="col-md-4 col-xs-12" style="background: rgb(186, 225, 247);">
            <div class="form-group">
                <div class="row">
                    
                        <div class="col-md-12 py-3">
                            <img  src="../../../assets/logo.png" style="padding: 0% 10%; margin-left: 14%; width: 70%;">
                        </div>
                        <div class="col-md-12 text-center">
                            <h1 style="font-size: 2.7hw;">Red social</h1>
                        </div>
                        <div class="col-md-12" style="margin-top: 10%;">
                            <input type="text" [(ngModel)]="usuario.email" class="form__input"  placeholder="Ingresa tu correo"  autofocus />
                            <label for="name" class="form__label">Correo</label>
                        </div>
                        <div class="col-md-12 py-2">
                            <input class="form__input" type="password" id="password" placeholder="Ingresa tu contraseña" [(ngModel)]="usuario.password"  required="" />
                            <label for="password" class="form__label">Contraseña</label>
                        </div>
                        <div class="col-md-12 text-center">
                            <a class="boton azul" id="boton-azul" (click)="login()">INGRESAR</a>
                                
                        </div>
                  
                </div> 
            </div>
        </div>
    </div>
</div>